

/* New Nav Bar Styling*/


.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}


.btn-danger {
    color: #fff;
    background-color:#9E9E9E   ;
    border-color: #9E9E9E    ;
}


button.btn-info.spacing {
    color: #fff;
    background-color:#00BCD4;
    border-color:#00BCD4;
    ;
}


h3.text-center {
  font-family: 'Lato', sans-serif;
  margin-top: 20px
  margin-bottom: 20px;
}


button.btn.btn-default {
  margin-top: 3.5px;
}


.form-control {
    padding: 6px;
    margin-top: 5px;
}


input#clear-messages.form-control {
    width: 485px;
}


button#clear-messages.btn.btn-danger {
  margin-top: 5px;
}


.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 40px;
    line-height: 20px;
    padding-right: 175px;
    font-family: "Oleo Script", serif;
    color: teal;
}


i.fa.fa-commenting {
  display: inline;
  margin-left: 6px;
}

a.dropdown-toggle {
  font-size: 20px;
}

/* Body Stylings*/


.image-bg-fluid-height {
    background-image: url("../AdobeStock_107574459.jpeg");
    background-size: 100% auto;
    padding: 200px 0;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%;
}


.scrollme {
    max-height:300px;
    overflow-y:auto;
}


body {
  font-family:'Lato', sans-serif;
}


div#checkB {
  padding-left: 420px;
  font-size: 1em;
  margin-top: 60px;;
}


p {
  display: inline;
  margin-right: 2em;
}


#main-body {
  margin: 0 auto;
  width: 40%;
  height: 20em;
  overflow-x: scroll;
}


#checkB {
  padding-left: 30%;
}


label {
  padding-left: 1em;
}


/* Theme Stylings*/


.dark-theme-class{

  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}


.large-text-class {
  font-size: 1.7em;
}


.spacing {
  margin-right: .5em;
}
